@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:700);
@import url(http://fonts.googleapis.com/css?family=Lato:700);
#spinner {
  width: 266.66667px;
  height: 266.66667px;
  margin: 0 auto;
  position: fixed;
  top: 0;
  padding: 100px;
  box-shadow: 0px 2px 15px #ddd;
  z-index: 10000; }
  #spinner .spin-img {
    display: none;
    background-repeat: no-repeat;
    position: absolute;
    background-size: 266.66667px;
    height: 266.66667px;
    width: 266.66667px; }
  #spinner #outer {
    background-image: url("../assets/outer_slices_clean.png"); }
  #spinner #inner {
    background-image: url("../assets/inner_slices_clean.png"); }
  #spinner #circle {
    background-image: url("../assets/circle.png"); }
  #spinner figcaption {
    font-family: "Lato";
    font-size: 20pt;
    height: 30px; }
  #spinner p {
    position: relative;
    display: inline; }
  #spinner .number {
    width: 40px; }
  #spinner #percent-loaded-outer {
    position: absolute;
    bottom: 0;
    left: 0; }
    #spinner #percent-loaded-outer p {
      color: #222; }
  #spinner #progress-bar {
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #222;
    color: white;
    overflow: hidden; }

#spinner {
  left: 50%;
  top: 200px;
  margin-left: -233px;
  z-index: -5;
  box-shadow: none; }

#slides {
  z-index: 5;
  display: none; }

#slide1 {
  position: relative;
  top: 1000px; }

#about {
  background-color: #4d407a; }
  #about .colored-link {
    color: #aaa0cd; }
    #about .colored-link:hover {
      color: #CB60D3; }

a[href="#about"]:hover {
  color: #4d407a; }

#resume {
  background-color: #0F4FA8; }

a[href="#resume"]:hover {
  color: #0F4FA8; }

#projects {
  background-color: #FF9C40; }

a[href="#projects"]:hover {
  color: #FF9C40; }

#contact {
  background-color: #05316D; }

a[href="#contact"]:hover {
  color: #05316D; }

body {
  background-color: white;
  font-size: 1.25em;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #ddd; }

a {
  text-decoration: none;
  color: #ddd;
  transition: all .6s;
  -webkit-transition: all .6s; }
  a:hover {
    color: white; }

p {
  margin-bottom: 1.3em; }

h1, h2, h3, h4 {
  margin: 1.414em 0 0.2em;
  font-weight: 300;
  line-height: 1.2; }

h1 {
  margin-top: 0;
  font-size: 3.998em; }

#name {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 6.654em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

h2 {
  font-size: 2.827em; }

h3 {
  font-size: 1.999em; }

h4 {
  font-size: 1.414em; }

small, .font_small {
  font-size: 0.707em; }

p {
  font-size: .90em; }

nav {
  position: absolute;
  left: 25px;
  top: 15px;
  font-size: .7em; }
  nav ul {
    float: left; }
    nav ul li {
      float: left;
      padding: 15px; }

section {
  clear: both;
  background-color: #2a2a2a;
  margin: 0;
  padding-bottom: 25px;
  border: none;
  position: relative; }
  section:after {
    clear: both;
    content: "";
    display: block; }

.slide-content {
  width: 70%;
  margin: 0 auto;
  text-align: center; }

.main-icon-listing {
  width: 200px;
  margin: 50px auto 0;
  display: inline-block; }

.main-icon-wrapper {
  margin: 0 auto;
  height: 120px;
  width: 110px;
  cursor: pointer; }

#main-icon1 {
  background-image: url("../assets/bio_110x120.png"); }

#main-icon2 {
  background-image: url("../assets/resume_110x120.png"); }

#main-icon3 {
  background-image: url("../assets/projects_110x120.png"); }

#main-icon4 {
  background-image: url("../assets/contact_110x120.png"); }

.icon-large-label {
  margin-top: 15px;
  padding: 0;
  font-weight: 300; }

.left-half {
  float: left; }

.right-half {
  float: right; }

.left-half, .right-half {
  width: 45%; }

.photo-wrapper {
  float: right; }

.bio {
  text-align: left; }

#resume h4 {
  background-color: #6996D3; }
#resume p {
  font-size: .8em;
  text-align: left; }
#resume .slide-content {
  width: 90%; }
#resume ul {
  padding-bottom: 20px;
  margin-left: 15px;
  text-align: left;
  vertical-align: middle; }
#resume .small-box {
  width: 35%;
  margin-left: 30px;
  float: right; }
#resume .experience {
  float: left; }
  #resume .experience:after {
    clear: both;
    content: "";
    display: block; }
#resume .company a {
  color: white; }
  #resume .company a:hover {
    color: #6996D3; }
#resume .company-description {
  font-size: .8em;
  line-height: 1;
  color: rgba(221, 221, 221, 0.7); }
#resume .responsibilities {
  font-size: .8em;
  line-height: 1;
  color: rgba(221, 221, 221, 0.7); }
#resume em {
  font-size: .9em;
  color: #ddd; }
#resume .achievement {
  font-size: .7em;
  color: #6996D3; }

#projects img {
  width: 100%; }
#projects h3 {
  margin-top: .3em; }
#projects .project-listing {
  width: 30%;
  margin: 0 auto;
  padding: 30px;
  display: inline-block; }

#contact h4 {
  margin-bottom: 40px; }

.contact-box {
  width: 170px;
  height: 170px;
  border: 3px solid #ddd;
  margin: 20px auto 0;
  display: inline-block; }
  .contact-box:hover {
    background-color: rgba(221, 221, 221, 0.3); }
  .contact-box h4 {
    margin-top: 66px; }

/*# sourceMappingURL=hire-me.css.map */
