//
//						fonts and colors
// 

// @import "compass";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
// @import url(http://fonts.googleapis.com/css?family=Raleway:400,600);
@import url(http://fonts.googleapis.com/css?family=Lato:700);
@import "spinner";
$black: rgb(42, 42, 42); 
$faded: #ddd;
$fadeder: rgba(#ddd, .7);

$medium-purple: #9C02A7;
// $dark-purple: #77207D;
$dark-purple: rgb(77, 64, 122);
$darker-purple: #65016C;
// $light-purple: #C936D3;
$light-purple: lighten($dark-purple, 35);
$lighter-purple: #CB60D3;

$medium-orange: #FF7A00;
$dark-orange: #BF7530;
$darker-orange:#A65000;
$light-orange:#FF9C40;
$lighter-orange:#FFB673;

$medium-blue:#0F4FA8;
$dark-blue:#284C7E;
$darker-blue:#05316D;
$light-blue:#4380D3;
$lighter-blue:#6996D3;

#slides {
	z-index: 5;
	display: none;
}

.slide {
}

#slide1 {
	position: relative;
	top: 1000px;
}

#about {
	background-color: $dark-purple; 
	.colored-link {
		color: $light-purple;
		&:hover {
			color:$lighter-purple;
		}
	}
}

a[href="#about"] {
	&:hover {
		color: $dark-purple;
	}
}

#resume { background-color: $medium-blue; }
a[href="#resume"] {
	&:hover {
		color: $medium-blue;
	}
}

#projects { background-color: $light-orange; }
a[href="#projects"] {
	&:hover {
		color: $light-orange;
	}
}

#contact { background-color: $darker-blue; }
a[href="#contact"] {
	&:hover {
		color: $darker-blue;
	}
}

@mixin unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 
}

body {
  background-color: white;
  font-size: 1.25em;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: $faded;

}

a {
	text-decoration: none;
	color: $faded;
	transition: all .6s;
	-webkit-transition: all .6s;
	&:hover {
		color: white;
	}
	
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.2em;
  font-weight: 300;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.998em;
}

#name {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 6.654em; 
  @include unselectable;
}

h2 {font-size: 2.827em;} 
h3 {font-size: 1.999em;} 
h4 {font-size: 1.414em;} 
small, .font_small {font-size: 0.707em;}

h1, h2, h3, h4, h5, h6, p, a, label, input { 
}

p {
	font-size: .90em;
}


nav {
	position: absolute;
	left: 25px;
	top: 15px;
	font-size: .7em;
	ul {
		float: left;

		li {
			float: left;
			padding: 15px;
		}
	}
}


//
//							the rest
//
@mixin group { 
	&:after {
		clear: both;
		content: "";
		display: block;
	}

}

section {
	clear: both;
	background-color: $black;
	margin: 0;
	padding-bottom: 25px;
	border: none;
	position: relative;
	@include group;
}

.slide-content {
	width: 70%;
	margin: 0 auto;
	text-align: center;
}

.main-icon-listing {
	width: 200px;
	margin: 50px auto 0;
	display: inline-block;
}

.main-icon-wrapper {
	margin: 0 auto;
	height: 120px;
	width: 110px;
	cursor: pointer;
}

#main-icon1 { 
	background-image: url("../assets/bio_110x120.png");
}

#main-icon2 { 
	background-image: url("../assets/resume_110x120.png");
}

#main-icon3 {
	background-image: url("../assets/projects_110x120.png");
}

#main-icon4 { 
	background-image: url("../assets/contact_110x120.png");
}

.icon-large-label {
	margin-top: 15px;
	padding: 0;
	font-weight: 300;
}

//
//				SLIDES
//

.left-half { 
	float: left;
}
.right-half { 
	float: right;
}

.left-half, .right-half {
	width: 45%;
}

.photo-wrapper {
	float: right;
}

.bio {
	text-align: left;
}

#resume {
	h4 { background-color: $lighter-blue; }

  #resume-pdf-link {
    float: right;
    margin-left: 15%;
  }

	p {
		font-size: .8em;
		text-align: left;
	}

	.slide-content {
		width: 90%;
	}

	ul {
		padding-bottom: 20px;
		margin-left: 15px;
		text-align: left;
		vertical-align: middle;
	}

	ul:nth-child(3) {
		// margin-top: 10px;
	}

	.small-box {
		width: 35%;
		margin-left: 30px;
		float: right;
	}

	.experience {
		float: left;
		@include group;

	}

	.title {
	}

	.company { 
		a { 
			color: white;
			&:hover {
				color: $lighter-blue;
			}
		}
	}

	.company-description {
		font-size: .8em;
		line-height: 1;
		color: $fadeder;
	}

	.responsibilities {
		font-size: .8em; 
		line-height: 1;
		color: $fadeder;
	}

	em {
		font-size: .9em;
		color: $faded;
	}

	.achievement {
		font-size: .7em; 
		color: $lighter-blue;
	}

}

#projects {
	img {
		width: 100%;
	}

	h3 {
		margin-top: .3em;
	}

	.project-listing {
		width: 30%;
		margin: 0 auto;
		padding: 30px;
		display: inline-block;
	}

}

#contact {

	h4 { margin-bottom: 40px; }
}

.contact-box {
	width: 170px;
	height: 170px;
	border: 3px solid $faded;
	margin: 20px auto 0;
	display: inline-block;
	&:hover {
		background-color: rgba($faded, .3);
	}

	h4 {
		margin-top: 66px;
	}

}
