@import url(http://fonts.googleapis.com/css?family=Lato:700);

$divisor: 3;
$full-height: 800px / $divisor;
$full-width: 800px / $divisor;

$inner-width: 620px / $divisor;
$inner-height: 620px / $divisor;

$circle-width: 414px / $divisor;

#spinner {
	// opacity: 0;
	width: $full-width;
	height: $full-height;
	margin: 0 auto;
	position: fixed;
	top: 0;
	padding: 100px;
	box-shadow: 0px 2px 15px #ddd;
	z-index: 10000;

	// SPINNY IMGS
	// -----------------------------------

	.spin-img {
		display: none;
		background-repeat: no-repeat;
		position: absolute;
		background-size: $full-width;
		height: $full-width;
		width: $full-width;
	}

	#outer {
		background-image: url("../assets/outer_slices_clean.png");
	}

	#inner {
		background-image: url("../assets/inner_slices_clean.png");
	}

	#circle {
		background-image: url("../assets/circle.png");
	} 

	// PROGRESS BAR
	// -----------------------------------

	$progress-color: #222; 
	$text-color: white;

	figcaption { 
		font-family: "Lato";
		font-size: 20pt;
		height: 30px;
	}

	p {
		position: relative;
		display: inline;
	}

	.percent-icon {
		
	}

	.number {
		width: 40px;
	}

	#percent-loaded-outer {
		position: absolute;
		bottom: 0;
		left: 0;
		p {
			color: $progress-color;
		}
	}

	#progress-bar {
		width: 0;
		position: absolute;
		bottom: 0;
		left: 0;
		background-color: $progress-color; 
		color: $text-color; 
		overflow: hidden;

		#percent-loaded-inner {
		} 
	}
}
