@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:700);
/* line 33, ../sass/hire-me.css.scss */
#about {
  background-color: #77207d;
}
/* line 35, ../sass/hire-me.css.scss */
#about .colored-link {
  color: #c936d3;
}
/* line 37, ../sass/hire-me.css.scss */
#about .colored-link:hover {
  color: #cb60d3;
}

/* line 43, ../sass/hire-me.css.scss */
a[href="#about"]:hover {
  color: #77207d;
}

/* line 48, ../sass/hire-me.css.scss */
#resume {
  background-color: #0f4fa8;
}

/* line 50, ../sass/hire-me.css.scss */
a[href="#resume"]:hover {
  color: #0f4fa8;
}

/* line 55, ../sass/hire-me.css.scss */
#projects {
  background-color: #ff9c40;
}

/* line 57, ../sass/hire-me.css.scss */
a[href="#projects"]:hover {
  color: #ff9c40;
}

/* line 62, ../sass/hire-me.css.scss */
#contact {
  background-color: #05316d;
}

/* line 64, ../sass/hire-me.css.scss */
a[href="#contact"]:hover {
  color: #05316d;
}

/* line 78, ../sass/hire-me.css.scss */
body {
  background-color: white;
  font-size: 1.25em;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #dddddd;
}

/* line 88, ../sass/hire-me.css.scss */
a {
  text-decoration: none;
  color: #dddddd;
  transition: all .6s;
  -webkit-transition: all .6s;
}
/* line 93, ../sass/hire-me.css.scss */
a:hover {
  color: white;
}

/* line 99, ../sass/hire-me.css.scss */
p {
  margin-bottom: 1.3em;
}

/* line 101, ../sass/hire-me.css.scss */
h1, h2, h3, h4 {
  margin: 1.414em 0 0.2em;
  font-weight: 300;
  line-height: 1.2;
}

/* line 107, ../sass/hire-me.css.scss */
h1 {
  margin-top: 0;
  font-size: 3.998em;
}

/* line 112, ../sass/hire-me.css.scss */
#name {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 6.654em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 119, ../sass/hire-me.css.scss */
h2 {
  font-size: 2.827em;
}

/* line 120, ../sass/hire-me.css.scss */
h3 {
  font-size: 1.999em;
}

/* line 121, ../sass/hire-me.css.scss */
h4 {
  font-size: 1.414em;
}

/* line 122, ../sass/hire-me.css.scss */
small, .font_small {
  font-size: 0.707em;
}

/* line 127, ../sass/hire-me.css.scss */
p {
  font-size: .90em;
}

/* line 132, ../sass/hire-me.css.scss */
nav {
  position: absolute;
  left: 25px;
  top: 15px;
  font-size: .7em;
}
/* line 137, ../sass/hire-me.css.scss */
nav ul {
  float: left;
}
/* line 140, ../sass/hire-me.css.scss */
nav ul li {
  float: left;
  padding: 15px;
}

/* line 160, ../sass/hire-me.css.scss */
section {
  clear: both;
  background-color: #2a2a2a;
  margin: 0;
  padding-bottom: 25px;
  border: none;
  position: relative;
}
/* line 152, ../sass/hire-me.css.scss */
section:after {
  clear: both;
  content: "";
  display: block;
}

/* line 170, ../sass/hire-me.css.scss */
.slide-content {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

/* line 176, ../sass/hire-me.css.scss */
.main-icon-listing {
  width: 200px;
  margin: 50px auto 0;
  display: inline-block;
}

/* line 182, ../sass/hire-me.css.scss */
.main-icon-wrapper {
  margin: 0 auto;
  height: 120px;
  width: 110px;
  cursor: pointer;
}

/* line 189, ../sass/hire-me.css.scss */
#main-icon1 {
  background-image: url("../assets/bio_110x120.png");
}

/* line 193, ../sass/hire-me.css.scss */
#main-icon2 {
  background-image: url("../assets/resume_110x120.png");
}

/* line 197, ../sass/hire-me.css.scss */
#main-icon3 {
  background-image: url("../assets/projects_110x120.png");
}

/* line 201, ../sass/hire-me.css.scss */
#main-icon4 {
  background-image: url("../assets/contact_110x120.png");
}

/* line 205, ../sass/hire-me.css.scss */
.icon-large-label {
  margin-top: 15px;
  padding: 0;
  font-weight: 300;
}

/* line 215, ../sass/hire-me.css.scss */
.left-half {
  float: left;
}

/* line 218, ../sass/hire-me.css.scss */
.right-half {
  float: right;
}

/* line 222, ../sass/hire-me.css.scss */
.left-half, .right-half {
  width: 45%;
}

/* line 226, ../sass/hire-me.css.scss */
.photo-wrapper {
  float: right;
}

/* line 230, ../sass/hire-me.css.scss */
.bio {
  text-align: left;
}

/* line 235, ../sass/hire-me.css.scss */
#resume h4 {
  background-color: #6996d3;
}
/* line 237, ../sass/hire-me.css.scss */
#resume p {
  font-size: .8em;
  text-align: left;
}
/* line 242, ../sass/hire-me.css.scss */
#resume .slide-content {
  width: 90%;
}
/* line 246, ../sass/hire-me.css.scss */
#resume ul {
  padding-bottom: 20px;
  margin-left: 15px;
  text-align: left;
  vertical-align: middle;
}
/* line 257, ../sass/hire-me.css.scss */
#resume .small-box {
  width: 35%;
  margin-left: 30px;
  float: right;
}
/* line 263, ../sass/hire-me.css.scss */
#resume .experience {
  float: left;
}
/* line 152, ../sass/hire-me.css.scss */
#resume .experience:after {
  clear: both;
  content: "";
  display: block;
}
/* line 273, ../sass/hire-me.css.scss */
#resume .company a {
  color: white;
}
/* line 275, ../sass/hire-me.css.scss */
#resume .company a:hover {
  color: #6996d3;
}
/* line 281, ../sass/hire-me.css.scss */
#resume .company-description {
  font-size: .8em;
  line-height: 1;
  color: rgba(221, 221, 221, 0.7);
}
/* line 287, ../sass/hire-me.css.scss */
#resume .responsibilities {
  font-size: .8em;
  line-height: 1;
  color: rgba(221, 221, 221, 0.7);
}
/* line 293, ../sass/hire-me.css.scss */
#resume em {
  font-size: .9em;
  color: #dddddd;
}
/* line 298, ../sass/hire-me.css.scss */
#resume .achievement {
  font-size: .7em;
  color: #6996d3;
}

/* line 306, ../sass/hire-me.css.scss */
#projects img {
  width: 100%;
}
/* line 310, ../sass/hire-me.css.scss */
#projects h3 {
  margin-top: .3em;
}
/* line 314, ../sass/hire-me.css.scss */
#projects .project-listing {
  width: 30%;
  margin: 0 auto;
  padding: 30px;
  display: inline-block;
}

/* line 325, ../sass/hire-me.css.scss */
#contact h4 {
  margin-bottom: 40px;
}

/* line 328, ../sass/hire-me.css.scss */
.contact-box {
  width: 170px;
  height: 170px;
  border: 3px solid #dddddd;
  margin: 20px auto 0;
  display: inline-block;
}
/* line 334, ../sass/hire-me.css.scss */
.contact-box:hover {
  background-color: rgba(221, 221, 221, 0.3);
}
/* line 338, ../sass/hire-me.css.scss */
.contact-box h4 {
  margin-top: 66px;
}
