
<main id="slides">

    <section class="slide" id="slide1"> 

        <div class="slide-content"> 
            <h1 id="name"> Hire Aidan Miles? </h1> 
            <h4> that's a great idea! </h4> 
            <h5> click through to find out more </h5> 
            <h5> about who I am and why you should </h5> 

            <div class="wrapper">
                <div class="main-icon-listing">
                    <a href="#about" target="_self">
                        <div id="main-icon1" class="main-icon-wrapper"> </div>
                        <h3 class="icon-large-label"> ABOUT </h3>
                    </a>
                </div>

                <div class="main-icon-listing"> 
                    <a href="#resume" target="_self">
                        <div id="main-icon2" class="main-icon-wrapper"> </div>
                        <h3 class="icon-large-label"> RESUME </h3>
                    </a>
                </div>

                <!-- <div class="main-icon-listing"> --> 
                <!-- 	<a href="#projects"> -->
                <!-- 		<div id="main-icon3" class="main-icon-wrapper"> </div> -->
                <!-- 		<h3 class="icon-large-label"> PROJECTS </h3> -->
                <!-- 	</a> -->
                <!-- </div> -->

                <div class="main-icon-listing">
                    <a href="#contact" target="_self">
                        <div id="main-icon4" class="main-icon-wrapper"> </div>
                        <h3 class="icon-large-label"> CONTACT </h3> 
                    </a>
                </div>

            </div>
        </div>

    </section>

    <section class="slide" id="about">
        <nav>
            <ul>
                <li> <a href="#" target="_self">Top</a> </li>
                <li> <a href="#resume" target="_self">Resume</a> </li>
                <!-- <li> <a href="#projects">Projects</a> </li> -->
                <li> <a href="#contact" target="_self">Contact</a> </li>
            </ul>
        </nav>

        <div class="slide-content">
            <h1 class="slide-title"> About Me </h1>	
            <div class="photo-wrapper">
                <img id="headshot" alt="portrait of the artist as a young dev" src="../assets/mahfayce.png">
            </div>

            <div class="bio"> 
                <p> In a nutshell, I like to make things, I love to learn, I ask a lot of questions, and I live web software. I graduated early from Columbia University with a B.A. in Chinese Literature and a few computer science-related (including computer music-related) courses under my belt. After graduation, I lived in China for a while, teaching and working at an <a class="colored-link" href="https://syieducation.com/">educational startup</a>. 
                </p>

                <p> While in China I self-taught a lot of web development basics, and returned to New York to improve my skills with a bunch of similarly motivated and creative young people at the <a class="colored-link" href="https://appacademy.io">App Academy</a>. There, I built the Rails framework from scratch (including ActiveRecord), a basic version of the BackboneJS framework, as well as some basic games with UIs like Snake and Asteroids. It was a lot of learning, and I highly recommend App Academy in specific for others looking to get a substantive, intensive, and worthwhile introduction to web programming.
                </p>

                <p> Since then, I've worked on two very early stage startups, one of which launched (and then subsequently fizzled out) at TechCrunch Disrupt in 2014; I've worked in a large corporate environment, where I learned how useful it is having the resources of an established company, while struggling with "the way it's always been done"; and I've been self-employed, with its own set of perks and struggles. Currently, I'm a senior developer and tech lead at <a class="colored=link"> an agency in San Diego</a>, where I'm learning about managing other developers and how it feels to be accountable for the success of a project. 
                </p>

                <p>In my free time I am constantly building – I work on side-projects, or improvements to my workflow, quite literally every day. I also make websites for friends and family, and currently I'm working on a lightweight CMS, and a browser-based non-Flash music notator with good keyboard shortcuts. That's all been a lot of learning too. 
                </p>

      <p> Outside of developing, I've been a radio host at <a class="colored-link" href="https://www.cc-seas.columbia.edu/wkcr/">WKCR</a>, I've been a professional musician (insofar as I've been paid to perform, and have gigged around New York City), and strive daily to better express myself on the piano, guitar, and my own homemade software instruments. I'm always learning, and I laugh a lot. No need to be over serious about the little things.
                </p>

            </div>
        </div>
    
    </section>

    <section class="slide" id="resume">
        <nav>
            <ul>
                <li> <a href="#" target="_self">Top</a> </li>
                <li> <a href="#about" target="_self">About</a> </li>
                <!-- <li> <a href="#projects">Projects</a> </li> -->
                <li> <a href="#contact" target="_self">Contact</a> </li>
            </ul>
        </nav>

        <div class="slide-content">

            <h1 class="slide-title"> Resume</h1>	

    <a id="resume-pdf-link" href="resume.pdf">(PDF)</a>

            <div class="experience">

      <div class="small-box"> 
                    <h4> Education </h4> 
                    <p>Columbia University | Early graduation in 2012</p>
                    <h4> Technical Skills </h4>
                    <p>Ruby, Javascript (ES5, ES2015+), Bash / UNIX, HTML5, SVG, CSS3, SASS | Ruby on Rails, Node, Angular, Backbone, Meteor, jQuery | TDD (RSpec, Jasmine, Karma, Mocha) | REST APIs, Swagger / the OpenAPI spec | AWS (Beanstalk, RDS, EC2), Docker | SQL (PostgreSQL, MySQL) and NoSQL (Firebase, Mongo) | Git</p>
                </div>

                <h4> Experience </h4>

                    <ul id="seamgen">
                        <li class="company"> Tech Lead / Senior Web Developer @ <span><a href="https://seamgen.com/"> Seamgen </a></span>, 
                        December 2015 - Present</li>
                        <li class="company-description"><span>Application Development for Web and Mobile</span></li>
                        <li class="responsibilities"><em>Responsibilities:</em> <span>Estimating project and feature timelines, setting up CI and deployment pipelines for projects, ensuring code quality and supervising other technical aspects of projects, giving lunchtime presentations,  iterating on process / devising more efficient ways of completing projects.</span></li> <li class="achievement"> + <span>Learned Docker, then taught other developers to use it; initiated an effort to develop web-development style guides (JS, Angular, HTML, etc)</span> </li>
                    </ul> 

                    <ul id="piksel">
                        <li class="company"> Web Developer @ <span><a href="https://piksel.com/"> Piksel </a></span>, 
                        December 2014 - August 2015</li>
                        <li class="company-description"><span> Creating and managing OTT video monetization solutions for some of the world's leading media brands </span></li>
                        <li class="responsibilities"><em>Responsibilities:</em> <span> Construction and maintenance of client AT&amp;T's Uverse.com desktop and mobile site</span></li> <li class="achievement"> + <span> Built new UI features on desktop and mobile sites, learned about implementing streaming video on the web </span> </li>
                    </ul> 

                    <ul id="wayla">
                        <li class="company"> Lead Developer @ <span><a href="https://wayla.com/"> Wayla </a></span>, 
                        May - December 2014</li>
                        <li class="company-description"><span> Making elegant, digital documentaries for live art and cultural events. </span></li>
                        <li class="responsibilities"><em>Responsibilities:</em> <span> Rewriting app from version 1.0 into new stack using Ionic / AngularJS / Firebase. </span></li>
                        <li class="achievement"> + <span> Successfully rebuilt product from scratch, with very minimal backend (only S3, Firebase, and Filepicker). </span> </li>
                    </ul> 

                    <ul id="invibox">
                        <li class="company"> Developer @ <span><a href="http://invibox.com"> InviBox </a></span>, 
                        July - September 2014 </li>
                        <li class="company-description"><span> Next generation, social media-inspired webmail. </span></li>
                        <li class="responsibilities"><em>Responsibilities:</em> <span>Rewriting and extending existing Meteor codebase in prep for beta launch.</span></li>
                        <li class="achievement"> + <span>Successfully brought product to beta launch under time pressure after being hired as 1st developer on new team of 3; extended features, rebuilt UI for email components, and rewrote significant portions of existing codebase.</span>
                        </li>
                    </ul> 

                    <ul id="sunrise">
                        <li class="company"> <span class="title">Program Director</span> @ <span><a href="https://syieducation.com/">Sunrise International Education</a></span>, 
                        Feb - Aug 2013 </li>
          <li class="company-description"><span>Beijing-based company organizing some of the largest extracurricular activities for Chinese high schoolers.</span></li>
                        <li class="responsibilities"><em>Responsibilities:</em> <span>Website construction and management, administration of non-tournament programs, judging tournaments, teaching debate-related classes. </span><li>
                        <li class="achievement"> +<span> Improved existing Ning-based website (both UX and design-wise), and designed a new homepage</span> </li>
                    </ul> 

                    <ul id="uexcel">
                        <li class="company"> Foreign Teacher @ <span><a href="https://uexcel.cn/"> The UExcel Int'l Academy </a></span>, 
          Feb - Aug 2013</li>
          <li class="company-description"><span>Tianjin-based provider of Western-style English-language education to Chinese adults and students seeking high-school or college abroad. </span> 
                        <li class="responsibilities"><em>Responsibilities:</em> <span> Planning and teaching English-language core-content classes to middle school and high school students at the UExcel Int'l Academy, as well as teaching private lessons for adults. </span><li>
                        <li class="achievement"> + <span>Highest reviewed and most requested teacher during my tenure there, both by students and by other staff. Routinely worked overtime without compensation to help my students on a variety of projects.</span> </li>
                    </ul> 

                    <ul id="peopledaily">
                        <li class="company"> Paid Summer Intern @ <span><a href="https://english.people.com.cn/"> The People's Daily Online, NYC</a></span>, 
          Summer 2012</li> 
          <li class="company-description">
          <span> Online edition of China's largest government-sponsored newspaper.</span> 
          </li>
                        <li class="responsibilities"><em>Responsibilities:</em> <span>Translating and reporting news for the New York office's daily video; editing footage, field reporting, and formally critiquing the English-language website for review by Beijing headquarters.</span><li>
                        <li class="achievement"> + <span> Wrote a formal proposal for an overhaul of the English-language website, which was reviewed by Beijing headquarters, and has been gradually implemented in the time since. </span> </li>
                    </ul> 

                    <ul id="baic">
                        <li class="company"> Paid Summer Intern @ <span><a href="https://baihc.cn/"> Beijing Automotive Industrial Corporation </a></span>, 
          Summer 2010 </li>
          <li class="company-description"><span>State-owned enterprise and holding company of several Chinese automobile and machine manufacturers</span> 
                        <li class="responsibilities"><em>Responsibilities:</em> <span>Designing and conducting a 6-week training on American Culture / English Language for engineers and staff; completing translation projects for PR department; giving presentations to company executives.</span><li>
                        <li class="achievement"> + <span> Created English-language corporation slogan; got some of my students to achieve proficiency and confidence speaking English in 6 weeks. </span> </li>
                    </ul>

                    <ul id="gcc">
                        <li class="company"> Director of Event Management @ <span><a href="httpsn://gccglobal.org/"> Global China Connection </a></span>, 
          Fall 2009 - Spring 2011</li>
          <li class="company-description"> <span> Nonprofit organization for university students of all nationalities looking to engage China's emergence as a global power through events and networking. </span> 
                        <li class="responsibilities"><em>Responsibilities:</em> <span>Coordinating visits of delegations of Chinese university student leaders to New York City, Boston, and Philadelphia; overseeing planning and execution of major events in New York City and Beijing; managing social media for planned events.</span><li>
                        <li class="achievement"> + <span> Was lead organizer for three successful all-day conferences, two in New York and one in Beijing, each featuring experts in a variety of fields and attended by three to five hundred students and professionals. </span> </li>
                    </ul> 

                <!-- <ul id="expname"> -->
                <!-- 	<li> title <span class="company"><a href="http://uexcel.cn/"> company </a></span>, --> 
                <!-- 	Summer 2012 </li> -->
                <!-- 	<li><span class="company-description"> desc </span> </li> -->
                <!-- 	<li><em>Responsibilities:</em> <span class="responsibilities"> resp</span><li> -->
                <!-- 	<li> + <span class="achievement"> achievement </span> </li> -->
                <!-- </ul> --> 

            </div> 
        </div> 
    </section>

    <!-- <section class="slide" id="projects"> -->
    <!-- 	<nav> -->
    <!-- 		<ul> -->
    <!-- 			<li> <a href="#">Top</a> </li> -->
    <!-- 			<li> <a href="#about">About</a> </li> -->
    <!-- 			<li> <a href="#resume">Resume</a> </li> -->
    <!-- 			<li> <a href="#contact">Contact</a> </li> -->
    <!-- 		</ul> -->
    <!-- 	</nav> -->

    <!-- 	<div class="slide-content"> -->
    <!-- 		<h1 class="slide-title"> Work </h1> -->	

    <!-- 		<br> -->
    <!-- 		<br> -->
    <!-- 		<br> -->
    <!-- 		<br> -->

    <!-- 		<h5> I'm currently working at: </h5> -->

    <!-- 		<div class="project-listing"> --> 
    <!-- 			<1!-- <img class="project-screenshot" src="../assets/loudcloud.png"> --1> --> 
    <!-- 			<h3> <a href="http://wayla.com">Piksel</a> </h3> -->
    <!-- 		</div> -->
    <!-- 	</div> -->
    <!-- </section> -->

    <section class="slide" id="contact"> 
        <nav>
            <ul>
                <li> <a href="#" target="_self">Top</a> </li>
                <li> <a href="#about" target="_self">About</a> </li>
                <li> <a href="#resume" target="_self">Resume</a> </li>
                <!-- <li> <a href="#projects">Projects</a> </li> -->
            </ul>
        </nav>
        <div class="slide-content">
            <h1 class="slide-title"> Contact </h1>	

            <h4> Let's get in touch and build stuff! </h4>

            <a href="http://www.linkedin.com/in/aidanhmiles">
                <div class="contact-box">
                    <h4>LINKEDIN</h4>
                </div>
            </a>

            <a href="https://angel.co/aidan-miles">
                <div class="contact-box">
                    <h4>ANGEL LIST</h4>
                </div>
            </a>

            <a href="http://github.com/itsthejazzkid/">
                <div class="contact-box">
                    <h4>GITHUB</h4>
                </div>
            </a>

            <a href="mailto:aidanhmiles@gmail.com">
                <div class="contact-box">
                    <h4>EMAIL</h4>
                </div>
            </a>
        </div> 
    </section>

</main>
