//
//						fonts and colors
// 

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:700);
$black: rgb(42, 42, 42); 
$faded: #ddd;
$fadeder: rgba(#ddd, .7);

$medium-purple: #9C02A7;
// $dark-purple: #77207D;
$dark-purple: rgb(77, 64, 122);
$darker-purple: #65016C;
// $light-purple: #C936D3;
$light-purple: lighten($dark-purple, 35);
$lighter-purple: #CB60D3;

$medium-orange: #FF7A00;
$dark-orange: #BF7530;
$darker-orange:#A65000;
$light-orange:#FF9C40;
$lighter-orange:#FFB673;

$medium-blue:#0F4FA8;
$dark-blue:#284C7E;
$darker-blue:#05316D;
$light-blue:#4380D3;
$lighter-blue:#6996D3;

.slide {
    min-height: 600px;
    min-height: 100vh;
}

#slide1 {
	background-color: $black;
}

#about {
	background-color: $dark-purple; 
	.colored-link {
		color: $light-purple;
		&:hover {
			color:$lighter-purple;
		}
	}
} 

#resume { background-color: $medium-blue; }
#projects { background-color: $light-orange; } 
#contact { background-color: $darker-blue; } 
#main-icon1 { 
	// background-image: url("../assets/bio_110x120.png");
} 
#main-icon2 { 
	// background-image: url("../assets/resume_110x120.png");
} 
#main-icon3 {
	// background-image: url("../assets/projects_110x120.png");
} 
#main-icon4 { 
	// background-image: url("../assets/contact_110x120.png");
} 

a {
	text-decoration: none;
	color: inherit;
}

@mixin unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 
}

@mixin group { 
	&:after {
		clear: both;
		content: "";
		display: block;
	}

}

.slide {
	@include group;
}

#slides {
	z-index: 1;
} 

#slide1 {
	position: relative;
}

.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 0 auto;
  width: 60%;
}

/* MOBILE LAYOUT */
@media screen and (max-width: 450px){

	/* fonts */
	html {font-size: 1em;}

	body {
	  background-color: white;
	  font-family: 'Open Sans', serif;
	  font-weight: 400;
	  line-height: 1.45;
	  color: #ddd;
	}

	p {margin-bottom: 1.3em;}

	h1, h2, h3, h4 {
	  margin: 1.414em 0 0.5em;
	  font-weight: inherit;
	  line-height: 1.2;
	}

	h1 {
	  margin-top: 0;
	  font-size: 5.063em;
	}

	h2 {font-size: 3.375em;}

	h3 {font-size: 2.25em;}

	h4 {font-size: 1.5em;}

	small, .font_small {font-size: 0.667em;}

	/* slides */

  .slide {
  }

	#slide1 { 
		.slide-content {
			text-align: center;
		}
	}

	$icon-height: 80px;
	$icon-width: 60px;

	.main-icon-listing {
		width: 100%;
		float: left;
		clear: left;
	}
	.main-icon-wrapper {
		display: none;
		// margin: 30px auto 0;
		// height: 120px;
		// width: 110px;
	}

	.icon-large-label {
		margin-top: .5em;
	}

	/* slide-specific stuff */
	#about {
		.slide-title {
			font-size: 4.0em;
		}
	}

	#resume {
		.experience {
			h4 { background-color: $lighter-blue; }

			color: #cce;

			em { color: #fff; }

			a { color: #fff; }

			ul {
				margin-bottom: 20px;

				.company {
					font-size: 1.2em;
				}
				.company-description {
					font-size: .87em;
					color: #bbf;
				}
				.responsibilities {
					font-size: .87em;
				}
				.achievement {
					font-size: .87em;
					color: #fff;
					span { 
						color: #cce;
					}
				}
			}
		}
	}

	// nav
	nav {
		ul {
		display: flex;
		justify-content: space-around;
			li {
				padding: 0 10px;
			}
		}
	}

	/* other layout */

	p:last-child {
		margin-bottom: 0;
	}

	.slide {
		padding: 20px 0;
	}

	#headshot {
		width: 100%;
	}

	
}

@media screen and (min-width: 450px){

	a[href="#about"] {
		&:hover {
			color: $dark-purple;
		}
	}
	a[href="#resume"] {
		&:hover {
			color: $medium-blue;
		}
	}
	a[href="#projects"] {
		&:hover {
			color: $light-orange;
		}
	}
	a[href="#contact"] {
		&:hover {
			color: $darker-blue;
		}
	}


	body {
	  background-color: white;
	  font-size: 1.25em;
	  font-family: "Open Sans", sans-serif;
	  font-weight: 400;
	  line-height: 1.45;
	  color: $faded;
	  @include unselectable;

	}

	a {
		text-decoration: none;
		color: $faded;
		transition: all .6s;
		-webkit-transition: all .6s;
		&:hover {
			color: white;
		}
		
	}

	p {margin-bottom: 1.3em;}

	h1, h2, h3, h4 {
	  margin: 1.414em 0 0.2em;
	  font-weight: 300;
	  line-height: 1.2;
	}

	h1 {
	  margin-top: 0;
	  font-size: 3.998em;
	}

	#name {
	  font-family: "Lato", sans-serif;
	  font-weight: 700;
	  font-size: 6.654em; 
	  @include unselectable;
	}

	h2 {font-size: 2.827em;} 
	h3 {font-size: 1.999em;} 
	h4 {font-size: 1.414em;} 
	small, .font_small {font-size: 0.707em;}

	h1, h2, h3, h4, h5, h6, p, a, label, input { 
	}

	p {
		font-size: .90em;
	}


	nav {
		position: absolute;
		left: 25px;
		top: 15px;
		font-size: .7em;
		ul {
			float: left;

			li {
				float: left;
				padding: 15px;
			}
		}
	}


	//
	//							the rest
	//

	section {
		clear: both;
		margin: 0;
		padding-bottom: 25px;
		border: none;
		position: relative;
		@include group;
	}

	.slide-content {
		width: 70%;
		margin: 0 auto;
		text-align: center;
	}

	.main-icon-listing {
		width: 200px;
		margin: 50px auto 0;
		display: inline-block;
	}

	.main-icon-wrapper {
		margin: 0 auto;
		height: 120px;
		width: 110px;
		cursor: pointer;
	}

	.icon-large-label {
		margin-top: 15px;
		padding: 0;
		font-weight: 300;
	}

	//
	//				SLIDES
	//

	.left-half { 
		float: left;
	}
	.right-half { 
		float: right;
	}

	.left-half, .right-half {
		width: 45%;
	}

	.photo-wrapper {
		float: right;
	}

	.bio {
		text-align: left;
	}

	#resume {
		h4 { background-color: $lighter-blue; }

	    #resume-pdf-link {
	        float: right;
    		margin-left: 15%;
    	}

		p {
			font-size: .8em;
			text-align: left;
		}

		.slide-content {
			width: 90%;
		}

		ul {
			padding-bottom: 20px;
			margin-left: 15px;
			text-align: left;
			vertical-align: middle;
		}

		ul:nth-child(3) {
			// margin-top: 10px;
		}

		.small-box {
			width: 35%;
			margin-left: 30px;
			float: right;
		}

		.experience {
			float: left;
			@include group;

		}

		.title {
		}

		.company { 
			span {
				a { 
					color: white;
					&:hover {
						color: $lighter-blue;
					}
				}
			}
		}

		.company-description {
			span {
				font-size: .8em;
				line-height: 1;
				color: $fadeder;
			}
		}

		.responsibilities {
			span {
				font-size: .8em; 
				line-height: 1;
				color: $fadeder;
			}
		}

		em {
			font-size: .9em;
			color: $faded;
		}

		.achievement {
			span {
				font-size: .7em; 
				color: $lighter-blue;
			}
		}

	}

	#projects {
		img {
			width: 100%;
		}

		h3 {
			margin-top: .3em;
		}

		.project-listing {
			width: 30%;
			margin: 0 auto;
			padding: 30px;
			display: inline-block;
		}

	}

	#contact {

		h4 { margin-bottom: 40px; }
	}

	.contact-box {
		width: 170px;
		height: 170px;
		border: 3px solid $faded;
		margin: 20px auto 0;
		display: inline-block;
		&:hover {
			background-color: rgba($faded, .3);
		}

		h4 {
			margin-top: 66px;
		}

	}

}
